<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Chris Copsey</title>
  <link rel="stylesheet" type="text/css" href="/static/reset.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/base.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/screen.css" media="all" />
  <meta name="language" content="en-gb" />
  <meta name="author" content="Chris Copsey" />
  <meta name="keywords" content="chris copsey" />
  <meta name="description" content="Chris Copsey's Personal Website" />
 </head>
 <body>
  <div id="container">
   <a href="/#content" name="top" title="skip to content" class="hide">skip to content</a>
   <div id="header">
    <div id="header-in">
     <ul id="nav-main" class="navigation">
      <!-- <li class="on"><a href="/" title="home" tabindex="2">home</a></li> -->
      <!-- <li><a href="/bookmarks" title="bookmarks" tabindex="2">bookmarks</a></li> -->
      <!-- <li><a href="/contact" title="contact" tabindex="2">contact</a></li> -->
     </ul>
     <h1><a href="/" title="chris.copsey.net homepage" tabindex="1"><img src="/static/logo.chriscopsey.png" alt="Chris Copsey" height="45" width="225" /></a></h1>
    </div>
   </div>
   <a name="content"></a>
   <div id="content-wrap">
    <div id="content">
     <div id="content-in">
{{ content }}
     </div>
    </div>
   </div>
   <div id="footer" class="clear">
    <div id="footer-in">
     <ul id="nav-footer" class="navigation">
      <li><a href="/" title="home">home</a></li>
      <!-- <li><a href="/bookmarks" title="bookmarks">bookmarks</a></li> -->
      <!-- <li><a href="/contact" title="contact">contact</a></li> -->
      <li><a href="/sitemap.html" title="sitemap">sitemap</a></li>
     </ul>
     <p>
      <a href="http://facebook.com/chris.copsey1" title="Facebook Profile"><img src="/static/icon.facebook.png" alt="Facebook" height="16" width="16" /></a>
      <a href="http://uk.linkedin.com/in/chriscopsey" title="LinkedIn Profile"><img src="/static/icon.linkedin.png" alt="LinkedIn" height="16" width="16" /></a>
      <a href="skype:chris.copsey?userinfo" title="Skype Profile"><img src="/static/icon.skype.png" alt="Skype" height="16" width="16" /></a>
      <a href="http://www.flickr.com/photos/ccopsey/" title="Flickr Photostream"><img src="/static/icon.flickr.png" alt="Flickr" height="16" width="16" /></a>
      <a href="http://www.last.fm/user/ccopsey" title="Last.Fm Profile"><img src="/static/icon.lastfm.png" alt="Last.FM" height="16" width="16" /></a>
      <a href="http://www.stumbleupon.com/stumbler/chriscopsey/" title="StumbleUpon Profile"><img src="/static/icon.stumbleupon.png" alt="StumbleUpon" height="16" width="16" /></a>
      <a href="https://twitter.com/ChrisCopsey" title="Twitter Profile"><img src="/static/icon.twitter.png" alt="Twitter" height="16" width="16" /></a>
      <a href="https://github.com/ccopsey" title="GitHub Profile"><img src="/static/icon.github.png" alt="GitHub" height="16" width="16" /></a>
      <a href="https://launchpad.net/~chriscopsey" title="Launchpad Profile"><img src="/static/icon.launchpad.png" alt="Launchpad" height="16" width="16" /></a>
     </p>
    </div>
   </div>
   <a href="http://chris.copsey.net/#top" name="bottom" title="back to top" class="hide">back to top</a>
  </div>
  <script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
  <script type="text/javascript">try { var pageTracker = _gat._getTracker("UA-495732-3"); pageTracker._setDomainName(".copsey.net"); pageTracker._trackPageview();} catch(err) {}</script>
 </body>
</html>